In [180]:
#Import all required libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random
import math
import seaborn as sns

#sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score

#Not a new window
%matplotlib inline
plt.rcParams['xtick.labelsize'] = 25
plt.rcParams['ytick.labelsize'] = 25

In [181]:
#Import the data files
data = pd.read_csv('./bank-additional-full.csv', sep=';')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [182]:
# Separating inputs and target variables
X = data.drop(['y'], axis=1)
y = data['y']
print X.head()
print y.head()

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  duration  campaign  pdays  previous     poutcome  \
0   may         mon       261         1    999         0  nonexistent
1   may         mon       149         1    999         0  nonexistent
2   may         mon       226         1    999         0  nonexistent
3   may         mon       151         1    999         0  nonexistent
4   may         mon       307         1    999         0  nonexistent

   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed
0           1.1          93.994          -36.4      4.857       5191.0
1           1.1          93.994          -36.4      4.857       5191.0
2           1.1          93.994          -36.4      4.857       5191.0
3           1.1          93.994          -36.4      4.857       5191.0
4           1.1          93.994          -36.4      4.857       5191.0
0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [183]:
#Describe the data to identify the missing data
#Describe categorical data
def describe_categorical(X):
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes == 'object']].describe().to_html()))
print data.info()
print data.describe()
print describe_categorical(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None
               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
std        1.570960        0.578840       4.628198      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000

None

In [184]:
#Correct ambiguous data: if we have data of outcome and previous contacted has a non-zero number, we need to update the pdays to 6 which is an average
X.pdays[(X['pdays'] == 999) & (X['previous'] != 0) & (X['poutcome'] != 'nonexistant')] = 6

X.head()

/Users/kaingle/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [185]:
#Default, housing, contact, pcoutcome and loan are the best. Hotcoding the data with few variations and eliminating the unknowns
X = pd.get_dummies(X, columns=['default','housing','loan','contact','poutcome', 'marital'])

In [186]:
#Remove the unknown and nonexistant columns
X = X.drop(['default_unknown','housing_unknown','loan_unknown','poutcome_nonexistent', 'marital_unknown'], axis=1)
X.head()

,age,job,education,month,day_of_week,duration,campaign,pdays,previous,emp.var.rate,...,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,poutcome_failure,poutcome_success,marital_divorced,marital_married,marital_single
0,56,housemaid,basic.4y,may,mon,261,1,999,0,1.1,...,0,1,0,0,1,0,0,0,1,0
1,57,services,high.school,may,mon,149,1,999,0,1.1,...,0,1,0,0,1,0,0,0,1,0
2,37,services,high.school,may,mon,226,1,999,0,1.1,...,1,1,0,0,1,0,0,0,1,0
3,40,admin.,basic.6y,may,mon,151,1,999,0,1.1,...,0,1,0,0,1,0,0,0,1,0
4,56,services,high.school,may,mon,307,1,999,0,1.1,...,0,0,1,0,1,0,0,0,1,0

In [187]:
#Separate into test and training data
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.1, random_state=42)

In [188]:
#Numerical variables for a quick model. The value numeric uses only numeric inputs from the dataframe
numeric = list(X_train.dtypes[X_train.dtypes != 'object'].index)
#example:
print X_train[numeric].head()
print X_train[numeric].describe()

#Convert yes and no to 1 and 0 for y_train and y_test
y_train = y_train.map(dict(yes=1, no=0))
y_test = y_test.map(dict(yes=1, no=0))

#print y_train[0]
#print len(y_train)

       age  duration  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
38651   22       358         1    999         0          -3.4          92.649
12733   52       262         1    999         0           1.4          93.918
35807   47       953         3    999         0          -1.8          92.893
1423    38       403         2    999         0           1.1          93.994
52      60       253         1    999         0           1.1          93.994

       cons.conf.idx  euribor3m  nr.employed       ...        housing_yes  \
38651          -30.1      0.720       5017.5       ...                  1
12733          -42.7      4.962       5228.1       ...                  0
35807          -46.2      1.244       5099.1       ...                  1
1423           -36.4      4.855       5191.0       ...                  1
52             -36.4      4.857       5191.0       ...                  0

       loan_no  loan_yes  contact_cellular  contact_telephone  \
38651        1         0                 1                  0
12733        1         0                 1                  0
35807        1         0                 1                  0
1423         1         0                 0                  1
52           1         0                 0                  1

       poutcome_failure  poutcome_success  marital_divorced  marital_married  \
38651                 0                 0                 0                0
12733                 0                 0                 1                0
35807                 0                 0                 1                0
1423                  0                 0                 0                1
52                    0                 0                 0                1

       marital_single
38651               1
12733               0
35807               0
1423                0
52                  0

[5 rows x 23 columns]
                age      duration      campaign         pdays      previous  \
count  37069.000000  37069.000000  37069.000000  37069.000000  37069.000000
mean      40.029297    258.147023      2.571933    862.891500      0.173164
std       10.436259    260.087294      2.779132    341.516001      0.493987
min       17.000000      0.000000      1.000000      0.000000      0.000000
25%       32.000000    102.000000      1.000000    999.000000      0.000000
50%       38.000000    179.000000      2.000000    999.000000      0.000000
75%       47.000000    319.000000      3.000000    999.000000      0.000000
max       98.000000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m  \
count  37069.000000    37069.000000   37069.000000  37069.000000
mean       0.080895       93.575682     -40.509110      3.619578
std        1.571874        0.579074       4.626629      1.735478
min       -3.400000       92.201000     -50.800000      0.634000
25%       -1.800000       93.075000     -42.700000      1.344000
50%        1.100000       93.749000     -41.800000      4.857000
75%        1.400000       93.994000     -36.400000      4.961000
max        1.400000       94.767000     -26.900000      5.045000

        nr.employed       ...         housing_yes       loan_no      loan_yes  \
count  37069.000000       ...        37069.000000  37069.000000  37069.000000
mean    5166.983528       ...            0.523753      0.825488      0.150314
std       72.369788       ...            0.499442      0.379555      0.357384
min     4963.600000       ...            0.000000      0.000000      0.000000
25%     5099.100000       ...            0.000000      1.000000      0.000000
50%     5191.000000       ...            1.000000      1.000000      0.000000
75%     5228.100000       ...            1.000000      1.000000      0.000000
max     5228.100000       ...            1.000000      1.000000      1.000000

       contact_cellular  contact_telephone  poutcome_failure  \
count      37069.000000       37069.000000      37069.000000
mean           0.635248           0.364752          0.104184
std            0.481367           0.481367          0.305503
min            0.000000           0.000000          0.000000
25%            0.000000           0.000000          0.000000
50%            1.000000           0.000000          0.000000
75%            1.000000           1.000000          0.000000
max            1.000000           1.000000          1.000000

       poutcome_success  marital_divorced  marital_married  marital_single
count      37069.000000      37069.000000     37069.000000    37069.000000
mean           0.032885          0.112331         0.603820        0.281880
std            0.178337          0.315778         0.489109        0.449921
min            0.000000          0.000000         0.000000        0.000000
25%            0.000000          0.000000         0.000000        0.000000
50%            0.000000          0.000000         1.000000        0.000000
75%            0.000000          0.000000         1.000000        1.000000
max            1.000000          1.000000         1.000000        1.000000

[8 rows x 23 columns]

In [189]:
#First cut model with set variables for continuous data using a standard fix set of parameters:
#n_estimators=100, oob_score=True, random_state=42

model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
model.fit(X_train[numeric],y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=True, random_state=42,
           verbose=0, warm_start=False)

In [190]:
#Check c-stat = roc_auc_score(y, model.oob_prediction_)
y_oob = model.oob_prediction_
print "c-stat: ", roc_auc_score(y_train, y_oob)

c-stat:  0.934026204372

In [191]:
#Test the fit with test data
y_pred = model.predict(X_test[numeric])
print "c-stat: ", roc_auc_score(y_test, y_pred)

c-stat:  0.927336176721

In [192]:
#Feature engineering of continuous variables to improve benchmark of 0.921785


print describe_categorical(X)

None

In [193]:
X.education

0                   basic.4y
1                high.school
2                high.school
3                   basic.6y
4                high.school
5                   basic.9y
6        professional.course
7                    unknown
8        professional.course
9                high.school
10                   unknown
11               high.school
12               high.school
13                  basic.4y
14                  basic.6y
15                  basic.9y
16                  basic.6y
17                  basic.6y
18                  basic.9y
19                  basic.9y
20               high.school
21                  basic.4y
22               high.school
23               high.school
24               high.school
25         university.degree
26                   unknown
27                  basic.9y
28         university.degree
29         university.degree
                ...
41158               basic.4y
41159               basic.4y
41160      university.degree
41161      university.degree
41162               basic.4y
41163               basic.4y
41164    professional.course
41165      university.degree
41166      university.degree
41167      university.degree
41168      university.degree
41169            high.school
41170      university.degree
41171    professional.course
41172      university.degree
41173      university.degree
41174      university.degree
41175                unknown
41176            high.school
41177    professional.course
41178      university.degree
41179    professional.course
41180      university.degree
41181      university.degree
41182               basic.4y
41183    professional.course
41184    professional.course
41185      university.degree
41186    professional.course
41187    professional.course
Name: education, Length: 41188, dtype: object

Series([], Name: pdays, dtype: int64)